{% extends "KwejkLayoutBundle::layout.html.twig" %}

{% block title %}Lista memów{% endblock %}

{% block body %}
    {% for mem in mems %}
        
        <a href="{{ path('kwejk_mems_show', {'slug': mem.slug}) }}">
            <p>{{ mem.title }}</p>
            <img src="{{ asset('uploads/mems/' ~ mem.imageName) }}" alt="{{ mem.title }}">
        </a>
        
        {%else%}
            <p>Brak memów</p>
    {% endfor %}
{% endblock %}
